@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playfair+Display:wght@400;500;700;800&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  line-height: 1;
  background: #ffe05d;
  color: #646464;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  background: #fff;
  color: #0a043c;
  padding: 16px 28px;
  text-transform: capitalize;
  display: inline-block;
  font-size: 0.9rem;
  -webkit-transition: 200ms;
  transition: 200ms;
  font-weight: 600;
  border-radius: 30px;
}

.btn:hover {
  background: #fcba03;
}

.header {
  background-color: #13121a54;
  z-index: 1;
  position: absolute;
  width: 100%;
  padding: 30px 0;
}

.header .navbar {

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header .navbar img {
  width: 110px;
}

.header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar ul li {
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 1.1;
}

.header .navbar ul li a {
  transition: 300ms;
}

.active {
  color: #ff9d00;
}

.header .navbar ul li:hover a {
  color: #fcba03;
}

.reserve_btn {
  background-color: #fcba03;
  padding: 10px 18px;
  /* width: 10px; */
  border-radius: 30px;
}

section.hero {
  height: 100vh;
  background: #bfa272ab;
  position: relative;
}

section.hero video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.4;
}

section.hero .content {
  position: absolute;
  color: #fff;
  bottom: 90px;
}

section.hero .content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  margin-bottom: 10px;
  font-weight: 600;
}

section.hero .content p {
  font-weight: 200;
  font-size: 0.9rem;
  line-height: 1.2;
  color: #fdfdfd;
  width: 50%;
}

section.about,
section.about2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

section.about div,
section.about2 div {
  width: 50%;
}

section.about div:first-child,
section.about2 div:first-child {
  margin-right: 6rem;
}

section.about div img,
section.about2 div img {
  height: 100%;
    width: 100%;
    object-fit: cover;
  max-width: 100%;
}

section.about div h2,
section.about2 div h2 {
  color: #646464;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

section.about div p,
section.about2 div p {
  font-weight: 200;
  font-size: 0.9rem;
  line-height: 1.2;
  color: #646464;
  width: 80%;
  margin-bottom: 1.5rem;
}

section.about div span,
section.about2 div span {
  color: #646464;
}

section.adv {
  background: #ff9642;
  padding-top: 180px;
  padding-bottom: 180px;
  color: white;
  text-align: center;
}

section.adv h2 {
  color: #646464;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  padding: 20px;
}

section.adv .icon-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

section.adv .icon-container>div {
  flex: 1;
  text-align: left;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

section.adv .icon-container>div:last-child {
  margin-right: 0;
}

section.adv .icon-container>div img {
  width: 100px;
  margin-right: 1rem;
}

section.adv .icon-container>div div h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  margin-bottom: 10px;
}

section.adv .icon-container>div div p {
  font-weight: 200;
  font-size: 0.9rem;
  line-height: 1.2;
  color: #646464;
}

section.about2 div:first-child {
  margin-right: 0;
  margin-left: 0;
  order: 2;
}

section.about2 div {
  margin-left: 6rem;
}

section.gallery {
  background: #ff9642;
  text-align: center;
  padding: 15px 0;
}

section.gallery h2 {
  color: #646464;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

section.gallery h2 span {
  color: #646464;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 330px);
  margin-bottom: 45px;
}

.gallery-container .gallery-item {
  overflow: hidden;
  position: relative;
}

.gallery-container .gallery-item:hover .gallery-overlay {

  transform: translateY(0px);
}

.gallery-container .gallery-item:hover img {

  transform: scale(1.1);
}

.gallery-container .gallery-item .gallery-overlay {

  transition: 400ms;
  transform: translateY(680px);
  transition-timing-function: cubic-bezier(0.95, -0.03, 0, 0.96);
  z-index: 1;

  position: absolute;
  width: 100%;
  height: 100%;
  background: #fcba0357;

  display: flex;
  align-items: flex-end;
}

.gallery-container .gallery-item .gallery-overlay h3 {
  color: white;
  margin: 40px;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.gallery-container .gallery-item .gallery-overlay h3 span {
  font-size: 1rem;
  opacity: 0.7;
  font-style: regular;
}

.gallery-container .gallery-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 300ms;
}

.gallery-container :nth-child(1) {
  grid-column: 1 / span 2;
}

.gallery-container :nth-child(2) {
  grid-column: 3;
  grid-row: 1 / span 2;
}

section.map {
  background-color: #ffe05d;
  text-align: center;
  padding: 90px 0 0 0;
}

section.map h2 {
  color: #646464;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

section.map h2 span {
  color: #646464;
}

section.map iframe {
  width: 100%;
}

footer .footer-inner {
  background-color: #dfa74b42;

}

footer p {
  padding-top: 30px;
  font-weight: 200;
  font-size: 0.9rem;
  line-height: 1.2;
  color: #646464;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 30px;
}
header nav .ham {
  display: none;
  position: fixed;
  top: 40px;
  right: 80px;
  z-index: 100;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  /* right: 0; */
  background-image: url("../images/menu.svg");
  background-size: 100%;
}

header nav .showClose {
  background-image: url("../images/close.svg");
}

header nav .ham_menu {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
   transform: translateY(-100%);
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  flex-direction: column;
  align-items: center;
}

header nav .showNav {
  transform: translateY(0);
}

header nav .showClose {
  background-image: url("../images/close.svg");
}

/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/
/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  section.adv .icon-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 599px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  section.adv .icon-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .header .navbar > ul {
    display: none;
  }
  header nav .ham {
    right: 60px;
    display: block;
    outline: none;
  }
  .header .navbar ul li {
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1.1;
    margin-bottom: 20px;
  }
  .ham_menu {
    font-size: 1.5rem;
    padding-top: 90px;
  }
  .gallery-container :nth-child(1) {
    grid-column: 1 / span3;
  }
  .gallery-container :nth-child(2) {
    grid-column: unset;
    grid-row: unset;
  }
}

@media only screen and (min-width: 280px) and (max-width: 599px) {
  .container {
    max-width: 320px;
  }
  section.about {
    margin-bottom: 20px;
  }
  section.about .container a {
    display: inline;
  }
  section.about2 {
    padding-bottom: 50px;
  }
  section.adv .icon-container {
        grid-template-columns: 1fr;
  }
  .header .navbar > ul {
    display: none;
  }
  header nav .ham {
    right: 40px;
    display: block;
    outline: none;
  }
  .header .navbar ul li {
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1.1;
    margin-bottom: 20px;
  }
  .ham_menu {
    font-size: 1.5rem;
    padding-top: 90px;
  }
  section.hero {
    padding-left: 30px;
  }
  section.adv {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  section.about,
  section.about2 {
  flex-direction: column;
  }
  section.about div.container,
  section.about2 div.container {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
  }
  section.about div.container p,
  section.about2 div.container p {
    width: 100%;
  }
  section.about2 div.container {
    margin-bottom: 40px;
  }
  .prgrph000 {
    margin-top: 40px;
  }
  .prgrph001 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  section.about div:first-child,
  section.about2 div:first-child {
    margin-right: 0;
    height: 50%;
    width: 100%;
  }
  section.about div,
  section.about2 div {
    width: 100%;
  }
  section.about .container {
    margin-left: 20px;
    /* margin: 30px; */
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .gallery-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .gallery-container :nth-child(1) {
    grid-column: unset;
  }
  .gallery-container :nth-child(2) {
    grid-column: unset;
    grid-row: unset;
  }
  footer .footer-inner {
    display: none;
  }
  footer p {
    padding-top: 30px;
  }
}

@media (max-width: 575px) {
  section.adv .icon-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .header .navbar > ul {
    display: none;
  }
  header nav .ham {
    right: 40px;
    display: block;
    outline: none;
  }
  .header .navbar ul li {
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1.1;
    margin-bottom: 20px;
  }
}

/* footer */

.footer-col{
  margin: 4%;
text-align: center;
}
.footer-col h4{
  font-size:18px;
  text-transform: capitalize;
  font-weight:500;
  position:relative;
}

.footer-col ul li a{
  color: white;
  font-size:16px;
  font-weight: 300;
  display:block;
  transition:all 0.3s ease;
  margin-left: 60px;
  

}
.footer-col ul li a:hover{
  color:black;
  padding-left:10px;

}

.social-icons a{
  display:inline-block;
  height:40px;
  width:40px; 
  background-color: rgb(197, 179, 19);
  margin-right:0 10px 10px 0;
  text-align:center;
  line-height:40px;
  border-radius: 40px;
  color: white;
  margin-top: 10px;

} 

.social-icons a:hover{
  color: black;
  background-color: white;
}