*{
    padding: 0;
    margin: 0;
}

header{
    color: #fff;
    background: #1a1a1a;
}
.my_container{
    padding: 2% 3%;
}
.nav_bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.nav_bar img{
    max-width: 20%;
}
.nav_bar ul{
    display: flex;
    
}
.nav_bar li{
    padding-left: 60px;
    list-style: none;
}